<div class="container">
		<div class="row">
			
		</div>
		<div class="row mt-5">
			<div class="col-md-6 col-sm-12 col-sm-4 m-auto">
				<h1 class="text-center display-4">Sentiment Analyst</h1>
				<!-- <p class="lead">kjsdlkfjoijjo<br>kjlkjdsfoijajeljoiajefkfjlkejf<br>lkjadjfioawelfj</p> -->
				<form method="post" action="/analyse">
					<label class="lead mt-3">Enter the phrases:</label>
					<div class="form-group">
						<textarea class="form-control" rows="5" name="data">
						</textarea>
					</div>
					
					<button type="submit" class="btn btn-primary m-auto mt-4" >Submit</button>
				</form>
			</div>
		</div>
	</div>